/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

body{
    font-family: 'Oswald', sans-serif;
}

.navbar-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row-wrap;
    align-items: center;
    justify-content: space-between;
}

.ul-container {
    display: flex;
    flex-flow: row-wrap;
    justify-content: center;
    align-items: center;
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FF6900;
    z-index: 99;
}

.card img {
    max-width: 250px;  
}

.cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    width: 250px;
    height: auto;
    padding: 0;
    margin: 8px;
    gap: 0;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    flex-flow: column wrap;
}

.hover {
    display: none
}

.footer-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-flow: row wrap;
}

.bold {
    font-size: 13px;
    font-weight: bold;
}


/* 
    HEADER
*/

header {
    height: 50px;
    position: relative;
}

ul {
    list-style: none;
}

nav {
    padding: 15px;
    width: 100%;
}

nav ul {
    max-width: 30%;
}
nav li { 
    padding: 0 5px;
    font-size: 13px;
}

nav img {
    width: 100px;
}

/* 
    MAIN
*/

main {
    max-width: 1000px;
    margin: 0 auto; 
    padding-top: 40px;
    padding-bottom: 80px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
   
}

main span{
    color: #808080;
    font-size: 14px;
}

main h2 {
    text-transform: uppercase;
    font-size: 14px;
    color: #000000;
}

.card:hover .hover {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.price {
    display: flex;
    flex-flow: row wrap;
}

.original-price {
    text-decoration: line-through;
    color: #000000;
}

.discounted-price {
    color: #FF0000;;
    font-weight: bold;
}

.banner {
    position: absolute;
    bottom: 80px;
    display: flex;
    flex-flow: row wrap;
}

.banner-sconto {
    padding: 3px 5px;
    margin: 2px;
    font-size: 10px;
    text-align: center;
    background-color: #FF0000;
}

.banner-sostenibile {
    padding: 3px 5px;
    margin: 2px;
    font-size: 10px;
    text-align: center;
    background-color:#008000;
    font-weight: bold;
}
/* 
    FOOTER
*/

footer {
    height: 50px;
    background-color: #1a1a1a ;
}

footer > * {
    color: #FFFFFF;
}

.social-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.footer-list > * {
    padding-right: 6px;
    font-size: 10px;
}

.social-list > * {
    color: #FFFFFF;
}

